*{
    border: 0;
    margin: 0;
}

body, html{
    height: 100%;
    background-color: #B2BABB;
}

#hideSpell{
    color: #E67E22;
}

#hideSpell:hover{
    color: white;
}


.next{
    cursor: pointer;
}

.container-fluid{
    background-color: #B2BABB;
}

.container{
    border-radius: 2%;
}

.remains{
    font-size: small;
    color: white;
}

.new-words{
    padding: 6px;
    text-align: center;
    font-size: xx-small;
}

.welcome{
    background-color: #F08080;
    border-radius: 12px;
}

.points{
    background-color: #A9CCE3;
}

.formcontainer{
    background-color: #E67E22;
}

.getwordmean{
    background-color: #7DCEA0;
}

.playbtn{
    border-color: white;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    cursor: pointer;
}

.question{
    background-color: #E67E22;
    border-radius: 5%;
    margin: 4px;
}

.option{
    border-radius: 5%;
    border-width: 4px;
    background-color: #229954;
    border-color: aliceblue;
    transition-duration: 500ms;
    /* transition-delay: 1000ms; */
}

.option:hover{
    border-color: #3498DB;
    background-color: #138D75;
    transform: scale(1.03);
    color: white;
    
}