{% extends 'base.html' %}
{% block main %}
            <section class="header">
                <h3 class="title">{{self.title}}</h3>
            </section>

            <section class="large-info">
                <div class="item">
                    <h4 class="title"><i class="fas fa-list fa-rotate-180"></i> لیست {{self.title}}</h4>
                    <div class="content">
                        <table>
                            <tr>
                                {% for head in self.heads %}
                                    <th>{{head}}</th>
                                {% endfor %}
                            </tr>
                            {% for item in items %}
                                    <tr class="hover">
                                        {% for d in item.1 %}
                                            <td>
                                                {{d}}
                                            </td>
                                        {% endfor %}
                                            <td>
                                                <a href="/panel/review/{{item.0}}/">
                                                    مرور کلمات
                                                </a>/
                                                <a href="/panel/test/{{item.0}}/">
                                                    آزمون کلمات
                                                </a>
                                            </td>
                                    </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </section>

{% endblock main %}