{% extends 'base.html' %}
{% block main %}
            <section class="header">
                <h3 class="title">{{self.title}}</h3>
            </section>

            <section class="large-info">
                <div class="item">
                    <h4 class="title"><i class="fas fa-list fa-rotate-180"></i> لیست {{self.title}} {{box.name}}</h4>
                    <div class="content">
                        <table>
                            <tr>
                                <th>رو کارت</th>
                                <th>تلفظ</th>
                                {% if box.mode == "M" %}
                                    <th>پشت کارت</th>
                                {% endif %}
                            </tr>
                            {% for cart in carts %}
                                    <audio id="{{cart.0}}" src="/media/{{cart.2}}"></audio>
                                    <tr class="hover">
                                            <td>
                                                {{cart.0}}
                                            </td>
                                            <td>
                                                <i id="{{cart.0}}icon" class="fas fa-play-circle">
                                            </td>
                                            {% if box.mode == "M" %}
                                                <td>
                                                    {{cart.1}}
                                                </td>
                                            {% endif %}
                                    </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </section>

            <script>
                $(document).ready(function(){
                    {% for cart in carts %}
                        $("#{{cart.0}}icon").click(function(){
                            $("#{{cart.0}}")[0].play();
                        });
                    {% endfor %}
                });
            </script>


{% endblock main %}