{% extends 'base.html' %}

{% block main %}
<audio id="voice" src="{{word.word.voice}}" autoplay></audio>
<div class="row"></div>

<div class="row question mt-4 mb-1">
    <svg viewBox="0 0 16 16" class="bi bi-question-circle col-2 col-lg-1 col-xl-1 col-md-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
    <h3 class="col-10 col-lg-11 col-xl-11 col-md-11 text-center p-3 text-white">Write ans Spell
        <svg onclick="document.getElementById('voice').play();" width="1em" height="1em" viewBox="0 0 16 16" class="playbtn bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
    </h3>

    <span class="text-center col-12 remains">{{new_spell_word}} words Remains</span>

</div>

<div class="row mt-3">
    {% if is_true == 0  %}
        <span class="text-center col-12 remains text-danger">your last answer is incorrect</span>
    {% elif  is_true == 1 %}
        <span class="text-center col-12 remains text-success">your last answer is correct</span>
    {% endif %}
    
</div>


<div class="row p-4">
    <form method="POST" autocomplete="off" class="col-12">
        {% csrf_token %}
        <input type="text" name="pk" value="{{word.pk}}" hidden>
        <div class="form-group col-12">
            <input name="ans" type="text" class="form-control" id="spellword" placeholder="write the word" autofocus>
        </div>
        <button type="submit" class="col-12 btn btn-primary">Check</button>
        </form>
</div>

{% endblock main %}
